.showroom {
  border: 1px solid var(--light-middle-gray);
}

.showroom__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}

.showroom__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.showroom__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--semibold);
  font-size: 24px;
}

.showroom__text {
  font-weight: var(--regular);
}

.showroom__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.showroom__input {
  width: 270px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 9px 24px;
  border: 1px solid var(--dark);
  border-radius: 100px;
  vertical-align: middle;
  color: var(--border-gray);
  transition-property: background-color, color;
  transition-duration: var(--short);
}

.showroom__input:focus {
  background-color: var(--light-gray);
}

.showroom__input:hover {
  background-color: var(--light-gray);
}

.showroom__input:active {
  color: var(--dark);
  background-color: var(--white);
}

.showroom__btn {
  position: relative;
  height: 50px;
  padding: 11px 35px;
  border: 2px solid var(--violet);
  border-radius: 100px;
  color: var(--violet);
  background-color: transparent;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--short);
}

.showroom__btn:focus {
  outline: none;
}

.showroom__btn:hover {
  color: var(--white);
  background-color: var(--violet);
}

.showroom__btn:active {
  box-shadow: inset 0 0 0 3px var(--violet-ultra-light);
  background-color: var(--dark-violet);
}

.showroom__btn::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  border: 2px solid var(--light-violet);
  border-radius: inherit;
  opacity: 0;
  transition: opacity var(--short);
}

.showroom__btn:focus:not(:active):not(:hover)::after {
  opacity: 1;
}

.showroom__btn-notmobile {
  display: flex;
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 25px;
  color: inherit;
  transition: color var(--short);
}

.showroom__btn-mobile {
  display: none;
}

.showroom__socials-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: var(--semibold);
  font-size: 24px;
}

.showroom__map-wrapper {
  width: 100%;
  margin: 0 auto;
}

.showroom__label-text {
  position: relative;
}

.is-label-invalid,
.just-validate-error-label {
  position: absolute;
  top: -30px;
  left: 20px;
  font-size: 12px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

@media (max-width: 1280px) {
  .showroom__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 43px;
    padding-bottom: 5px;
  }

  .showroom__content {
    margin-bottom: 27px;
  }

  .showroom__btn {
    padding-left: 40px;
    padding-right: 40px;
  }

  .showroom__form {
    margin-bottom: 20px;
  }
}

@media (max-width: 970px) {
  .showroom__input {
    width: 320px;
    margin-right: 0;
    padding: 12px 21px;
  }

  .showroom__btn {
    max-width: 317px;
    width: 100%;
    height: 50px;
    padding: 13px 30px;
  }

  .showroom__btn-notmobile {
    width: 258px;
    height: 25px;
  }

  .showroom__form {
    margin-bottom: 30px;
    column-gap: 25px;
  }
}

@media (max-width: 610px) {
  .showroom__wrapper {
    padding-top: 10px;
  }

  .showroom__title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 25px;
  }

  .showroom__text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 19px;
  }

  .showroom__content {
    margin-bottom: 4px;
  }

  .showroom__form {
    flex-direction: column;
    margin-bottom: 19px;
  }

  .showroom__input {
    width: 290px;
    height: 40px;
    margin-bottom: 21px;
  }

  .showroom__btn-notmobile {
    display: none;
  }

  .showroom__btn {
    width: 128px;
    height: 40px;
    padding: 10px 32px;
  }

  .showroom__btn-mobile {
    display: block;
    font-weight: var(--bold);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: inherit;
  }

  .showroom__socials-title {
    font-size: 18px;
    line-height: 32px;
  }

  .socials__items {
    max-width: 50px;
    min-height: 50px;
    margin-right: 20px;
  }

  .socials__link {
    width: 100%;
    height: 100%;
  }

  .socials__link-img {
    width: 50px;
    height: 50px;
  }

  .showroom__map {
    max-height: 320px;
  }
}
